rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    /* =========================
       Fonctions utilitaires
    ========================== */

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated()
        && get(/databases/$(database)/documents/users/$(request.auth.uid))
             .data.role == "admin";
    }

    /* =========================
       Collection USERS
    ========================== */

    match /users/{userId} {

      // Lire son propre profil
      allow get: if isAuthenticated() && request.auth.uid == userId;

      // Admin peut lire tous les profils (LIST + GET)
      allow list: if isAdmin();
      allow get: if isAdmin();

      // Création : utilisateur crée son propre document
      allow create: if isAuthenticated() && request.auth.uid == userId;

      // Modification : soi-même ou admin
      allow update: if isAuthenticated()
        && (request.auth.uid == userId || isAdmin());

      // Suppression : admin uniquement
      allow delete: if isAdmin();
    }

    /* =========================
       AUTRES COLLECTIONS (exemple)
    ========================== */

    match /products/{productId} {
      allow read: if true; // visible côté client
      allow write: if isAdmin(); // admin seulement
    }

    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /subcategories/{subcategoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /orders/{orderId} {
      allow read: if isAuthenticated()
        && (get(/databases/$(database)/documents/orders/$(orderId)).data.customer.email == request.auth.email || isAdmin());

      allow create: if isAuthenticated();
      allow update, delete: if isAdmin();
    }
    
    match /settings/{settingId} {
        allow read: if true;
        allow write: if isAdmin();
    }
  }
}